<!doctype html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-2.1.4.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="icon" href="source/images/favicon.ico" type="image/x-icon" />
    <script src="source/javascripts/site.js"></script>
    <link rel="stylesheet" href="source/stylesheets/site.css.scss">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Portfolio" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a class="main" href="#top">Amanda Alling Andrén</a>
            <ul class="white-text right hide-on-med-and-down">
              <li><a href="#languages">Languages & tools</a></li>
              <li><a href="#projects">Projects</a></li>
              <li><a href="#work">Work</a></li>
              <li><a href="#education">Education</a></li>
              <li><a href="#about">About me</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#top"><i class="material-icons main">arrow_upward</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    <%= yield %>
    <%= partial 'partials/footer'%>
  </body>
</html>
