<!doctype html>
<html>
  <head>
    <script src='https://code.jquery.com/jquery-2.1.4.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link rel="icon" href="AAA-favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="AAA-favicon.ico" type="image/x-icon" />
    <script src="source/javascripts/site.js"></script>
    <link rel="stylesheet" href="source/stylesheets/site.css.scss">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Portfolio" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>
    <%= partial 'partials/footer'%>
    <%= partial 'partials/header'%>
  </body>
</html>
