#top

.welcome.box
  %h1 Welcome to my portfolio!
  %i.fa.fa-font.fa-5x{"aria-hidden" => "true"}
  %p.body Hi! I'm Amanda, and I'm a mid twenties proffesional book lover and junior developer.

.languages
  .container
    #languages
    %i.fa.fa-wrench.fa-5x{"aria-hidden" => "true"}
    %h5 Swedish & English (+ some school french and japanese)
    %i.devicon-ruby-plain
    %i.devicon-javascript-plain
    %i.devicon-css3-plain
    %i.devicon-html5-plain
    %i.devicon-jquery-plain
    %i.devicon-foundation-plain
    %i.devicon-cucumber-plain
    %i.devicon-jasmine-plain
    %i.devicon-github-plain
    %i.devicon-heroku-plain
    %i.devicon-postgresql-plain
    %i.devicon-photoshop-plain
    %i.devicon-slack-plain

.projects
  .container
    #projects
    %i.large.material-icons.center laptop_mac
    - data.projects.each do |project|
      %h3= project[:name]
      %h5= project[:used]
      %p= project[:description]

.work
  .container
    #work
    %i.large.material-icons work
    - data.work.each do |work|
      %h3= work[:work]
      %h5= work[:time]
      %p= work[:skills]
      %p= work[:description]

.education
  .container
    #education
    %i.large.material-icons school
    - data.education.each do |education|
      %h3= education[:school]
      %h5= education[:course]
      %p= education[:time]
      %p= education[:description]
      %p= education[:second]
      %p= education[:third]


.about
  .container
    #about
    %i.fa.fa-book.fa-4x{"aria-hidden" => "true"}
    %i.fa.fa-puzzle-piece.fa-4x{"aria-hidden" => "true"}
    %i.fa.fa-gamepad.fa-4x{"aria-hidden" => "true"}
    %i.fa.fa-plane.fa-4x{"aria-hidden" => "true"}
    %h4 Book-lover, organiser, gamer, traveller
    %p.body I've always loved building things, wether it's been wardrobes, stories or websites. Structuring and organising is a weirdly passionate subject for me. This is partly why I'm looking to work with development!
    %p.body I love play all kinds of games with friends (board-, role-, computer- and videogames), and I try to read as often as I can. When I get the chance to travel I gladly make plans and prepare what to pack.

#contact
