#top

#welcome.block
  .container
    %h1 Amandas portfolio
    %img.top(src="/images/loggav.png")
    %h5 I'm a mid twenties professional book lover and junior developer.

#education.block
  .container
    %i.symbol.fa.fa-graduation-cap.fa-5x{"aria-hidden" => "true"}
    - data.education.each do |education|
      %h3.padding= education[:school]
      %h5= education[:course]
      %a{:href => "#{education[:link]}", :target => "_blank"} Website
      %p= education[:time]
      %p= education[:description]
      %p= education[:second]
      %p= education[:third]

#work.block
  .container
    %i.symbol.fa.fa-briefcase.fa-5x{"aria-hidden" => "true"}
    - data.work.each do |work|
      %h3.padding= work[:work]
      %h5= work[:time]
      %a{:href => "#{work[:link]}", :target => "_blank"} Website
      %p.bodys= work[:skills]
      %p= work[:description]
      %p= work[:description2]

#languages.block
  .container
    %i.symbol.fa.fa-wrench.fa-5x{"aria-hidden" => "true"}
    %h3.padding Swedish & English
    %br
    %br
    %i.devicon-ruby-plain
    %i.devicon-javascript-plain
    %i.devicon-css3-plain
    %i.devicon-html5-plain
    %i.devicon-jquery-plain
    %i.devicon-foundation-plain
    %br
    %i.devicon-cucumber-plain
    %i.devicon-jasmine-plain
    %i.devicon-github-plain
    %i.devicon-heroku-plain
    %i.devicon-postgresql-plain
    %i.devicon-photoshop-plain
    %i.devicon-slack-plain

#projects.block
  .container
    %a.menu{:href => "https://github.com/sajaas", :target => "_blank"}
      %i.symbolgithub.fa.fa-github.fa-5x{"aria-hidden" => "true"}
    %ul.collapsible{"data-collapsible" => "accordion"}
      %li
        .collapsible-header.active
          %h5.nopadding.center-align.full-width
            Projects
        .collapsible-body
          %p Click on titles to open project descriptions
          %p Click on the Gitbub symbol to go to my Github
    - data.projects.each do |project|
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            %center-align.full-width= project[:name]
          .collapsible-body
            %span
            %h5= project[:used]
            %a{:href => "#{project[:link]}", :target => "_blank"} Link to project
            %p= project[:description]
    %br

#about.block
  .container
    %i.symbol.fa.fa-user-circle-o.fa-5x{"aria-hidden" => "true"}
    %br
    %i.fa.fa-book.fa-4x{"aria-hidden" => "true"}
    %i.fa.fa-puzzle-piece.fa-4x{"aria-hidden" => "true"}
    %i.fa.fa-gamepad.fa-4x{"aria-hidden" => "true"}
    %i.fa.fa-plane.fa-4x{"aria-hidden" => "true"}
    %img.bottom(src="/images/swords.svg")
    %h6 Book-lover, organiser, gamer, traveller, sword fighter
    %p.bodys I've always loved building things - whether it's been wardrobes, stories or websites. Structuring and organising is a passionate subject for me. This is partly why I'm looking to work with development!
    %p.bodys I enjoy playing all kinds of games with friends (board-, role-, computer- and video games), when I have to exercise I do it with swords, and I try to read as often as I can. When I get the chance to travel I gladly make plans and prepare what to bring.

#contact
