#top

#picture
  .parallax-container
    .parallax
      %img{:src => "images/parallax.jpg"}/
    .overlay
      %h1 Welcome

#welcome.block
  .container
    %h1 My portfolio
    %img.top(src="/images/loggav.png")
    %h5.muchpadding I'm Amanda - a professional book lover and junior developer.

#education.block
  .container
    %i.symbol.fa.fa-graduation-cap.fa-5x{"aria-hidden" => "true"}
    - data.education.each do |education|
      %h3.padding= education[:school]
      %h5= education[:course]
      %a{:href => "#{education[:link]}", :target => "_blank"} Website
      %p= education[:time]
      %p= education[:description]
      %p= education[:second]
      %p= education[:third]

#work.block
  .container
    %i.symbol.fa.fa-briefcase.fa-5x{"aria-hidden" => "true"}
    - data.work.each do |work|
      %h3.padding= work[:work]
      %h5= work[:time]
      %a{:href => "#{work[:link]}", :target => "_blank"} Website
      %p.bodys= work[:skills]
      %p= work[:description]
      %p= work[:description2]

#languages.block
  .container
    %i.symbol.fa.fa-wrench.fa-5x{"aria-hidden" => "true"}
    %h3.padding Swedish & English
    %br
    %br
    - data.languages.each do |languages|
      #icons
        .showtext
          %ul
            %li
              %i.none{class: "devicon-#{languages[:icon]}-plain"}
              %b= languages[:name]
      #language-icons-replacement
        = languages[:name]

#projects.block
  .container
    %a.menu{:href => "https://github.com/sajaas", :target => "_blank"}
      %i.symbolgithub.fa.fa-github.fa-5x{"aria-hidden" => "true"}
    %ul.collapsible{"data-collapsible" => "accordion"}
      %li
        .collapsible-header.active
          %h5.nopadding.center-align.full-width
            Projects
        .collapsible-body
          %p Click on titles to open project descriptions
          %p Click on the Gitbub symbol to go to my Github
    - data.projects.each do |project|
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            %center-align.full-width= project[:name]
          .collapsible-body
            %span
            %h5= project[:used]
            %a{:href => "#{project[:link]}", :target => "_blank"} Link to project
            %p= project[:description]
    %br

#about.block
  .container
    %i.symbol.fa.fa-user-circle-o.fa-5x{"aria-hidden" => "true"}
    #icons
      %br
      %i.fa.fa-book.fa-4x{"aria-hidden" => "true"}
      %i.fa.fa-puzzle-piece.fa-4x{"aria-hidden" => "true"}
      %i.fa.fa-gamepad.fa-4x{"aria-hidden" => "true"}
      %i.fa.fa-plane.fa-4x{"aria-hidden" => "true"}
      %img.bottom(src="/images/swords.svg")
    %h6 Book-lover, organiser, gamer, traveller, sword fighter
    %p.bodys I've always loved building things - whether it's been wardrobes, stories or websites. Structuring and organising is a passionate subject for me.
    %p.bodys I enjoy playing all kinds of games with friends (board-, role-, computer- and video games), when I have to exercise I do it with swords, and I try to read as often as I can. When I get the chance to travel I gladly make plans and prepare what to bring.

#contact
